*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero_section {
    background: #002ed0;
    padding: 0 60px;
    color: #fff;
}

.hero_wrapper {
   display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 820px;
}

.column_left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.column_left h1 {
font-size: 90px;
}

.column_left p {
    font-size: 16px;
line-height: 2.3;
}

.column_right {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.hero_img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1100px) {
    .hero_section{
        padding: 30px;
    }
    .hero_wrapper {
        grid-template-columns: 1fr;
    }
    .column_left h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 468px) {
    .hero_wrapper {
        grid-template-rows: 600px;
    } 
    .column_left h1 {
        font-size: 32px;
    }
}

/* about_section*/
.main_section {
    padding: 60px 60px;
    background: #002ed0;
    color :#fff
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main_container  h1{
    font-size: 110px;
    color: #000;
}

.main_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px;
}

.main_text {
    padding-right: 20px;
}

.main_text h2 {
    font-size: 48px;
    line-height: 1.5;
    margin-bottom: 32px;
}

.main_text p {
    line-height: 2.3;
}

.main_img {
    display: flex;
    justify-content: center;
}

.main_img{
    width: 600px;
    height: 700px;
}

/* Media Queries for about */
@media screen and (max-width: 1000px) {
    .main_section {
        padding: 30px;
    }

    .main_content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    
    .main_img {
        margin-top: 40px;
    }

    .main_container h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 468px) {
    .main_text h2 {
        font-size: 32px;
    }

    .main_img {
        width: 100%;
        height: 100%;
    }
}